.collection-preview {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    @media screen and (max-width: 800px) { 
      align-items: left;
    };

    .flex-container {
      display: -webkit-flex;
      display: -moz-flex;
      display: flex;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      justify-content: space-between;
        
    .title {
      float: left;
      font-size: 28px;
      margin-bottom: 25px;
    }

    .view-all {
      margin-bottom: 10px;
      float: right;
      min-width: 165px;
      width: auto;
      height: 50px;
      letter-spacing: 0.5px;
      line-height: 50px;
      padding: 0 35px 0 35px;
      font-size: 15px;
      background-color: black;
      color: white;
      text-transform: uppercase;
      font-family: 'Open Sans Condensed';
      font-weight: bolder;
      border: none;
      cursor: pointer;
      display: flex;
      justify-content: center;

      &:hover {
        background-color: white;
        color: black;
        border: 1px solid black;
      }
    }
  }
  
    .preview {
      display: flex;
      justify-content: space-between;
    
      @media screen and (max-width: 800px) { 
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-grap: 15px;
      };
  }
}